*::selection{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: salmon;
    color: white;
  }
  /*Actividad 2*/
  body{
    font-family: Arial, Helvetica, sans-serif;
    height: 300vh;
  }
  .container{
    width: 450px;
    height: 530px;
    margin: 20px auto;
    border: 5px solid crimson;
    position: relative;
    
  }
  .box{
    width: 100px;
    height: 100px;
    background-color: steelblue;
    margin: 20px 0 0 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    line-height: 100px;
  }
  
  .static{
    position: static;
    top: 40px;
  }
  .relative{
    position: relative;
    top: 0;
    left: 0;
  }
  .absolute{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
  }
  .fixed{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }
  
  /* Actividad 1 */
  /* body{
    background-color: salmon;
    font-family: Arial, Helvetica, sans-serif;
  }
  .card{
    width: 300px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    box-shadow: -20px -20px 0px 0px black;
    border-radius: 10px;
  }
  .card_title{
    margin: 14px auto;
    text-align: center;
  }
  .card_title::after, .card_title::before{
  content: '';
  display: inline-block;
  width: 10%;
  height: 3px;
  padding: 2px;
  background-color: salmon;
  
  }
  
  p::first-letter{
    color: salmon;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
  }
  p::first-line{
    color: blue;
    font-size: 2rem;
    font-weight: bold;
  }
  ul{
      counter-reset: contador;
  }
  li{
    padding: 0;
    margin-bottom: 10px;
    list-style-type: none;
  }
  li::before{
    content: counter(contador);
    counter-increment: contador;
    background-color: salmon;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: white;
    margin-right: 4px;
  }
  .card_text{
    margin: 10px auto;
  } 