* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: salmon;
    --color2: rgb (65, 4, 51);
    --while: #fff;
    --grey: #f2e3e3;
    --gradient: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    --box-shadow: 5px 20px 5px rgba(253, 5, 5, 0.5);
    --border-radius: 20px;
}

nav{
    height: 90px;
    background-color:rgb(255, 255, 255);
    text-align: center;
  }
  
  nav ul{
     list-style: none;
     display: inline-block;
     padding:20px;
  }
  
  nav ul li{
      float: left;
      margin-top: 20px;
  }
  
  nav ul li a {
      color: rgb(0, 0, 0);
      font-weight: bold;
      text-decoration: none;
      font-size: 20px;
      padding: 18px;
  }
  
  nav ul li a:hover{
    background-color: salmon;
    border-radius: 15px;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-image: var(--gradient);
}

.card {
    background: var(--while);
    width: 300px;
    margin: 30px auto;
    padding: 30px 20px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.card__title {
    font-size: 30px;
    color: var(--color);
    margin-bottom: 20px;
}

/* .container__text {} */

.card__copy {
    color: var(--color2);
    font-size: 1.4rem;
    margin: 20px auto;
}

/* /------------------------ 
componente boton 
------------------------------- */

.button {
    display: inline-block;
    text-decoration: none;
    padding: 12px 20px;
    background-image: var(--gradient);
    border-radius: var(--border-radius);
    color: var(--while);
    font-weight: gold;
    width: 100%;
    text-align: center;
    color: var(--while);
}

.button__icon {
    margin-right: 6px;
}

/* .button__text {} */

.button--black {
    background: #000;
}

.button--online {
    background: var(--while);
    border: solid 2px;
    color: #000;
}

.card2 {
    --black: #000;
    background: var(--grey);
    width: 300px;
    margin: 30px auto;
    padding: 30px 20px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}